@page
@using Microsoft.Extensions.Localization
@using EasyAbp.BookingService.Localization
@using EasyAbp.BookingService.Web.Pages.BookingService
@model EasyAbp.BookingService.Web.Pages.BookingService.IndexModel
@inject IStringLocalizer<BookingServiceResource> L

@{
}
<h1>BookingService</h1>
<p>@L["SamplePageMessage"]</p>
