@page "/BookingService"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.BookingService.Localization
@inject IStringLocalizer<BookingServiceResource> L
@{
}
<h1>BookingService</h1>
<p>@L["SamplePageMessage"]</p>